AUTH_SECRET= # `npx auth secret` or `openssl rand -hex 32`

AUTH_VK_ID=
AUTH_VK_SECRET=
NEXTAUTH_URL=http://localhost

# THIRD_PARTY_API_EXAMPLE_BACKEND= # Read more at https://authjs.dev/guides/integrating-third-party-backends

# AUTH_TRUST_HOST=1 # Read more at https://authjs.dev/getting-started/deployment#auth_trust_host